{% extends "layout.html" %}

{% block title %}Search Groups{% endblock %}

{% block main %}

    <div class="container mt-3">
        <h4 class="text-center">Members of {{ group_name }}</h4>
        <table class="table table-striped table-bordered table-sm mt-5 mb-5">
            <thead class="thead-dark">
                <tr>
                    <th>Username</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Email</th>
                </tr>
            </thead>
            <tbody>
                {% for member in members %}
                <tr>
                    <td>{{ member.username }}</td>
                    <td>{{ member.firstname }}</td>
                    <td>{{ member.lastname }}</td>
                    <td>{{ member.email }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <a class="btn btn-primary" href="{{ url_for('view_group', group_id=group_id) }}">Group information</a>
    </div>


{% endblock %}
