{% extends "layout.html" %}

{% block title %}
    Register
{% endblock %}

{% block main %}
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6">
                {% if invitation_info %}
                    <div class="alert alert-info mb-4">
                        <h4 class="alert-heading">You have been invited to join {{ invitation_info.group_name }}!</h4>
                        <p class="mb-0">{{ _('Please register to continue and automatically join the group.' ) }}</p>
                    </div>
                {% endif %}
                
                <div class="card">
                    <div class="card-header">
                        <h2 class="mb-0">{{ _('Register' ) }}</h2>
                    </div>
                    <div class="card-body">
                        <form action="/register" method="post">
                            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                            <div class="mb-3">
                                <input autocomplete="off" autofocus class="form-control" id="username" name="username" placeholder="Username" type="text" required>
                            </div>
                            <div class="mb-3">
                                <div class="row">
                                    <div class="col-6">
                                        <input class="form-control" id="firstname" name="firstname" placeholder="First Name" type="text" required>
                                    </div>
                                    <div class="col-6">
                                        <input class="form-control" id="lastname" name="lastname" placeholder="Last Name" type="text" required>
                                    </div>
                                </div>
                            </div>
                            <div class="mb-3">
                                <input class="form-control" id="email" name="email" placeholder="Email Address" type="email" required>
                            </div>
                            <div class="mb-3">
                                <input class="form-control" id="postcode" name="postcode" placeholder="Postcode" type="text" required>
                            </div>
                            <div class="mb-3">
                                <input class="form-control" id="password" name="password" placeholder="Password" type="password" required>
                            </div>
                            <div class="mb-3">
                                <input class="form-control" id="confirmation" name="confirmation" placeholder="Confirm Password" type="password" required>
                            </div>
                            <button class="btn btn-primary" type="submit">{{ _('Register' ) }}</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}