{% extends "layout.html" %}

{% block main %}
{% if group %}
    <div class="container">
        <div class="d-flex align-items-center my-3">
            <div class="flex-grow-1 d-flex justify-content-start">
                <span class="fw-bold fs-4 ms-5 me-auto">Group: {{ group['name'] }}</span>
            </div>
            <div>
                <span class="badge bg-secondary me-2">{{ group['postcode'] }}</span>
                <span class="badge bg-primary">{{ group['member_count'] }} Members</span>
            </div>
        </div>

        {% if is_member %}
            
            {% if tradesmen %}
                <h4 class="mt-5 mb-4">Tradesmen in this group:</h4>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Trade</th>
                            <th>Name</th>
                            <th>Phone Number</th>
                            <th>Postcode</th>
                            <th>Email</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for trade, trade_group in tradesmen|groupby('trade') %}
                            {% for tradesman in trade_group %}
                                <tr>
                                    <td><strong>{{ trade }}</strong></td>
                                    <td><a href="{{ url_for('view_tradesman', tradesman_id=tradesman.id) }}">{{ tradesman.name }}</a></td>
                                    <td>{{ tradesman.phone_number }}</td>
                                    <td>{{ tradesman.postcode }}</td>
                                    <td>{{ tradesman.email }}</td>
                                </tr>
                            {% endfor %}
                        {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <p>No tradesmen in this group yet.</p>
            {% endif %}

            <a href="{{ url_for('add_tradesman', group_id=group['id']) }}" class="btn btn-primary">Add Tradesman</a>

        {% else %}

            <p>You are not a member of this group.</p>
            {% if pending_request %}
                <span class="badge bg-warning text-dark">Request Pending</span>
            {% else %}
                <form action="{{ url_for('view_group', group_id=group['id']) }}" method="post">
                    <input type="submit" value="Join Group" class="btn btn-primary">
                </form>
            {% endif %}

        {% endif %}
    </div>
{% else %}
    <div class="container">
        <p>Error: Group information not available.</p>
    </div>
{% endif %}



{% endblock %}
